* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --primary: rgb(49, 45, 45);
  --secondary: rgb(48, 158, 221);
  --tertiary: rgb(42, 43, 46);
  --dark: rgb(0, 0, 0);
  --light: rgb(238, 241, 247);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* .about,
  .work {
    margin: 10px
  } */

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
  text-align: left;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  text-align: right;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 0;
}

.container {
  display: flex;
}

.sidebar {
  flex-basis: 20%;
  padding: 20px
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}


.hero-banner {
  background: rgb(68, 88, 120);
  background-image: url("https://www.publicdomainpictures.net/pictures/80000/velka/blue-globe-banner.jpg"), linear-gradient(180deg, var(--secondary) 0%, var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end; /* Ensure children align to the end */
}

.hero-banner h2,
.hero-banner p {
  display: inline-block;
  background-color: var(--secondary);
  color: var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem; /* Adjust font size for h2 */
  line-height: 1.2;
}

.hero-banner p {
  font-size: 1.3rem; /* Adjust font size for p */
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section>h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  font-size: 4vw;
  line-height: 1.1;
  border-right: 4px solid var(--primary);
}

.page-section>div {
  flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-item {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  width: 50%;
  flex-basis: calc(50% - 1em);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* feature first portfolio item */
.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
  width: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.flex-item div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

#contactMe address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#contactMe address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

#contactMe address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}


#contactMe ul {
  list-style: none;
  display: inline;
}

#contactMe ul li {
  display: inline;
}

/* portfolio project images */
/* TODO: Add portfolio project images here using background images*/
#image1 {
  background-image: url(https://as2.ftcdn.net/v2/jpg/00/84/60/25/1000_F_84602505_CbgZtlxEktGN0wfLfTQMuRNvBau4mujo.jpg);
  background-size: cover;
  object-fit: contain;
}

#image2 {
  background-image: url(https://as2.ftcdn.net/v2/jpg/00/98/47/75/1000_F_98477592_BDuSsGUQDiTO48kwtqh5d4Rhxrc1NaHP.jpg);
  background-size: cover;
  object-fit: contain;
}

#image3 {
  background-image: url(./assets/readmeGen\ photo\ v2.jpg);
  background-size: cover;
  object-fit: contain;
}

#image4 {
  background-image: url(./assets/motorcycleWheelie.jpg);
  background-size: cover;
  object-fit: contain;
}

#image5 {
  background-image: url(https://as2.ftcdn.net/v2/jpg/03/53/83/93/1000_F_353839328_nYW2cp3gIjpJD9Supel4HsGVU9Ear4iV.jpg);
  background-size: contain;
  object-fit: contain;
}

/* media queries */

/* media queries for a max-width of 980px */
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section>h2,
  .page-section>div {
    flex: 0 0 100%;
  }

  .page-section>h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

/* TODO: add media query for a max-width of 768px */
@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 0 10px 0;
  }
}